<body>
  <section class="mentors" id="mentors">
    <div class="contanier">
      <h2 class="mentors-title">
        Our <span class="mentors-highlight">Mentors</span>
      </h2>
      <ul class="mentors-list">
        <li class="mentor-card">
          <img
            src="../images/Emilia-Smith.jpg"
            srcset="../images/Emilia-Smith@2x.jpg 2x"
            alt="Emilia-Smith"
          />
          <h3>Emilia Smith</h3>
          <p>1.5 years of experience</p>
        </li>
        <li class="mentor-card">
          <img
            src="../images/Alex-Lebedev.jpg"
            alt="Alex-Lebedev"
            srcset="./images/Alex-Lebedev@2x.jpg 2x"
          />

          <h3>AlexLebedev</h3>
          <p>3.5 years of experience</p>
        </li>
        <li class="mentor-card">
          <img
            src="../images/Mia-Dubrovska.jpg"
            alt="Mia-Dubrovska"
            srcset="../images/Mia-Dubrovska@2x.jpg 2x"
          />
          <h3>Mia Dubrovska</h3>
          <p>2.0 years of experience</p>
        </li>
        <li class="mentor-card">
          <img
            src="../images/Eliot-Kovalev.jpg"
            alt="Eliot-Kovalev"
            srcset="../images/Eliot-Kovalev@2x.jpg 2x"
          />
          <h3>Eliot Kovalev</h3>
          <p>4.0 years of experience</p>
        </li>
      </ul>
    </div>
  </section>
</body>
