<section id="reviews" class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <ul class="reviews-list">
      <li class="review-card">
        <div class="review-header">
          <img
            class="review-avatar"
            src="./assets/images/Abraham-Baker.jpg"
            srcset="
              ./assets/images/Abraham-Baker.jpg    1x,
              ./assets/images/Abraham-Baker@2x.jpg 2x
            "
            alt="Abraham Baker"
          />

          <div class="review-info">
            <h3 class="review-name">Abraham Baker</h3>
            <span class="review-role">Student</span>

            <div class="stars-container">
              <svg class="review-star">
                <use href="./assets/images/icons.svg#icon-star"></use>
              </svg>
              <svg class="review-star">
                <use href="./assets/images/icons.svg#icon-star"></use>
              </svg>
              <svg class="review-star">
                <use href="./assets/images/icons.svg#icon-star"></use>
              </svg>
              <svg class="review-star">
                <use href="./assets/images/icons.svg#icon-star"></use>
              </svg>
              <svg class="review-star">
                <use href="./assets/images/icons.svg#icon-star"></use>
              </svg>
            </div>
          </div>
        </div>

        <p class="review-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>

      <li class="review-card hidden-on-mobile">
        <div class="review-header">
          <img
            class="review-avatar"
            src="./assets/images/Amanda-Lowery.jpg"
            srcset="
              ./assets/images/Amanda-Lowery.jpg    1x,
              ./assets/images/Amanda-Lowery@2x.jpg 2x
            "
            alt="Amanda Lowery"
          />

          <div class="review-info">
            <h3 class="review-name">Amanda Lowery</h3>
            <span class="review-role">Student</span>
            <div class="stars-container">
              <svg class="review-star">
                <use href="./assets/images/icons.svg#icon-star"></use>
              </svg>
              <svg class="review-star">
                <use href="./assets/images/icons.svg#icon-star"></use>
              </svg>
              <svg class="review-star">
                <use href="./assets/images/icons.svg#icon-star"></use>
              </svg>
              <svg class="review-star">
                <use href="./assets/images/icons.svg#icon-star"></use>
              </svg>
              <svg class="review-star">
                <use href="./assets/images/icons.svg#icon-star"></use>
              </svg>
            </div>
          </div>
        </div>
        <p class="review-text">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
