@import url('./modern-normalize.css');
@import url('./reset.css');
@import url('./variables.css');
@import url('./font.css');
@import url('./hero.css');
@import url('./header.css');
@import url('./advertisement.css');
@import url('./about.css');
@import url('./courses.css');
@import url('./mentors.css');
@import url('./signup.css');
@import url('./reviews.css');
@import url('./footer.css');
