:root {
  --black: #121212;
  --black2: #1d1d1d;
  --black3: #060707;
  --brown: #bea69e;
  --white: #fff;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}
body {
  font-family: 'DM Sans', sans-serif;
}

.background {
  background-color: var(--black);
  background-image: url('../images/background.png');
  min-width: 320px;
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: url('../images/background@2x.png');
  }
}

section {
  width: 100%;
}
